<form method="post" asp-action="Login" autocomplete="off">
    <div>
        <label>Kullanıcı Adı:</label><br />
        <input type="text" name="kullaniciAdi" required autocomplete="off" />
    </div>
    <div>
        <label>Şifre:</label><br />
        <input type="password" name="sifre" required autocomplete="off" />
    </div>
    <div style="margin-top: 10px;">
        <button type="submit">Giriş Yap</button>
    </div>
</form>
